.app-container {
    margin-bottom: 25px;
    margin-top: 25px;
    padding-left: 10px;
}

.player-container {
    border: 1px solid;
    background-color: #eee;
    border-radius: 3px;
    margin-top: 10px;
    padding: 20px;
}

.player-avatar {
    text-align: center;
    width: 100%;
    border: 1px solid #000;
}

.player-name-container {
    display: inline-block;
}

.player-personaname {
    font-weight: bold;
    font-size: 30px;
}

.player-realname {
    font-weight: bold;
    font-size: 25px;
}

.player-characteristic-tag {
    font-weight: bold;
    display: flex;
}

.player-characteristic-container {
    display: inline-block;
    border-top: 1px solid #000;
    width: 100%;
}

.player-characteristic-title {
    font-family: 'Open Sans';
    font-weight: bold;
}

.player-characteristic-container ul {
    padding-left: 0;
}
.recommend-button-container {
    position: relative;
}

.recommend-button {
    z-index: 1;
    position: absolute;
}

.recommend-button-overlay {
    z-index: 2;
    background-color: #fff;
    opacity: 0.4;
    position: absolute;
    width: 160px;
    height:35px;
}

.loading-games {
    text-align: center;
    display: inline-block;
    color: #000;
    font-family: 'Open Sans';
    font-weight: bold;

}

.loading-spinner {
    width: 30px;
    height: 30px;
    vertical-align: text-bottom;
}
