.app-container {
    margin-bottom: 25px;
    margin-top: 25px;
    padding-left: 10px;
}

.player-avatar {
    padding-right: 50px;
}

.player-name-container {
    display: inline-block;
}

.player-personaname {
    font-weight: bold;
    font-size: 30px;
}

.player-realname {
    font-weight: bold;
    font-size: 25px;
}

.player-characteristic-tag {
    font-weight: bold;
    display: flex;
}

.player-characteristic-container {
    display: inline-block;
    float: right;
    margin-right: 50px;
}


.recommend-button-container {
    position: relative;
}

.recommend-button {
    z-index: 1;
    position: absolute;
}

.recommend-button-overlay {
    z-index: 2;
    background-color: #fff;
    opacity: 0.4;
    position: absolute;
    width: 160px;
    height:35px;
}

.player-container {
    border: 1px solid;
    background-color: #eee;
    border-radius: 3px;
}