.player-info-container {
    margin-bottom: 25px;
}

.player-name-container {
    display: inline-block;
}

.player-personaname {
    font-weight: bold;
    font-size: 30px;
}

.player-realname {
    font-weight: bold;
    font-size: 25px;
}

.player-characteristic-tag {
    font-weight: bold;
}

.player-info-container .player-characteristic-container {
    display: inline-block;
    float: right;
    margin-right: 50px;
}