.app-container {
    margin-bottom: 25px;
    margin-top: 25px;
}

.player-container {
    border-radius: 3px;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #ccc;
}

.player-avatar {
    width: 25%;
    border: 1px solid #000;
    display: inline-block;
    float: left;
}

.player-name-container {
    display: inline-block;
    margin-left: 9px;
    margin-bottom: 15px;
}

.player-personaname {
    font-weight: bold;
    font-size: 18px;
    margin-top: 0;
}

.player-realname {
    font-size: 16px;
    margin-top: 0;
}

.player-characteristic-tag .tag-icon {
    margin-right: 5px;
}

.player-characteristic-tag {
    display: flex;
    background-color: #fff;
    padding-left: 5px;
    margin-bottom: 5px;
}

.player-characteristic-tag a, .recent-name a, .owned-name a, .wishlist-name {
    color: #333333;
    width: 100%;
}

.player-characteristic-tag:hover .player-characteristic-tag,
.player-characteristic-tag a:hover,
.recent-name:hover .recent-name,
.recent-name a:hover,
.owned-name a:hover {
    background-color: #333333;
    color: #fff;
}

.player-characteristic-container {
    display: inline-block;
    border-top: 1px solid #ccc;
    width: 100%;
}

.player-characteristic-title {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.no-tags-error {
    color: #f00;
}

.player-characteristic-container ul {
    padding-left: 0;
}
.recommend-button-container {
    position: relative;
}

.recommend-button {
    z-index: 1;
    position: absolute;
}

.recommend-button-overlay {
    z-index: 2;
    background-color: #fff;
    opacity: 0.4;
    position: absolute;
    width: 160px;
    height:35px;
}

.loading-games {
    text-align: center;
    display: inline-block;
    color: #000;
    font-family: 'Open Sans';
    font-weight: bold;

}

.loading-spinner {
    width: 30px;
    height: 30px;
    vertical-align: text-bottom;
}

.form-link {
    font-size: 24px;
    color: #f00;
    text-decoration: underline;
}

.form-link:hover {
    color: #e55;
    text-decoration: underline;
}

.recent-games-container, .owned-games-container {
    border-top: 1px solid #ccc;
    margin-top: 5px;
}


.recent-text, .owned-text, .wishlist-text {
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.recent-name, .owned-name, .wishlist-name {
    border-bottom: 1px solid #eee;
    background-color: #fff;
    display: flex;
    margin-bottom: 5px;
}

.recent-games-container ul,
.owned-games-container ul,
.wishlist-games-container ul {
    overflow: auto;
    height: 100px;
    padding-left: 0;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 2px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.fixed {
    position: fixed;
    top:51px; 
    width: 55.6%;
    background-color: #fff;
    border-bottom: 1px solid #dddddd;
    z-index: 1020;
}

.container-title {
    font-family: 'Open Sans';
    font-weight: bold;
}

@media (max-width:768px) {
    .player-avatar {
        width: 15%;
        float: left;
    }

    .player-personaname {
        font-size: 15px;
        margin: 0 10px 10px;
    }

    .player-realname {
        font-size: 15px;
        margin: 0 10px 0;
    }

    .player-characteristic-tag .tag-icon {
        margin-right: 3px;
    }

    .player-characteristic-tag {
        display: inline;
        margin: 0 5px 5px;
    }

    .player-characteristic-container {
        display: inline;
        height: 65px;
    }

    .player-characteristic-title {
        font-size: 13px;
        margin: 5px;
    }

    .form-link {
        font-size: 15px;
        font-weight: bolder;
    }

    .player-container {
        padding: 10px;
        margin-right: 10px;
    }

    .container-title {
        font-size: 15px;
        font-weight: bolder;
    }

    .col-sm-9 .container {
        padding-left: 0;
        padding-right: 0;
    }

    .recent-name, .owned-name {
        display: inline-block;
        margin-right: 5px;
        border-right: 1px solid #eee;
        background-color: #fff;
        padding-right: 5px;
    }

    .recent-text, .owned-text {
        font-size: 14px;
    }

    .recent-games-container ul, .owned-games-container ul {
        overflow: auto;
        display: block;
        white-space: nowrap;
        height: auto;
    }

    .recent-games-container, .owned-games-container {
        border-top: 0;
    }
}