.post-container {
    width: 100%;
    border: 2px solid #676767;
    clear: both;
}

.game-image {
    width: 320px;
    height: auto;
    margin: 20px;
    display: inline-block;
}

.score-container, .price-container, .recommendation-container {
    background-color: #0094ff;
    margin: 20px;
    border: 1px solid #000;
}

.score-container {
    width: 90px;
    height: 90px;
    display: inline-block;
    float: right;
    text-align: center;
}

.price-container {
    width: 160px;
    height: 55px;
    float: right;
    display: inline-block;
    margin: 10px 20px 20px 0px;
    text-align: center;
}

.price-text {
    margin-top: 6px;
}

.recommendation-container {
    width: 256px;
    height: 45px;
    display: inline-block;
}

.game-title {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    font-family: 'Open Sans', 'PT Serif';
    color: #0054ff;
    width: 10em;
}

.game-description {
    display: inline-block;
}

.justification-text {
    margin: 0px 20px;
    font-weight: bold;
    font-family: 'Open Sans', 'PT Serif';
    color: #0094ff;
    width: 90%;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
}

.score-num, .score-text, .recommendation-text, .price-text {
    color: #fff;
    font-weight: bold;
    font-family: 'Open Sans', 'PT Serif';
}

.score-text {
    margin-top: 6px;
}

.score-num{
    margin-top: 0;
}

.users-recommended {
    font-family: 'Open Sans';
    color: #fff;
    font-weight: bold;
    margin-top: 3px;
    padding: 0 5px 0;
}

.post-container:hover .game-title, 
.post-container:hover .justification-text {
    color: #2fcbff;
}

.post-container:hover .score-container, 
.post-container:hover .recommendation-container, 
.post-container:hover .price-container {
    background-color: #2fcbff;
}

@media (max-width: 768px) {

    .post-container {
        position: relative;
        bottom: 0;
        padding: 6px;
    }

    .game-title {
        margin: 10px 0;
    }

    .game-image {
        width: 100%;
        margin: 0 auto;
    }

    .justification-text {
        font-size: 0.9em;
        margin: 0 0 25px;
        width: 100%;
    }

    .score-container {
        width: 4.3em;
        height: 3.8em;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 6px;
    }
    .score-text {
        font-size: 1.4em;
        margin: 0;
    }

    .score-num {
        font-size: 2em;
    }

    .price-container {
        width: 6em;
        height: 2em;
        float: none;
        margin: 10px 0 0;
    }

    .price-text {
        margin: 0;
        font-size: 1.4em;
    }

    .recommendation-container {
        width: 7.4em;
        margin: 10px 0 0;
    }

    .users-recommended {
        font-size: 0.9em;
        margin: 0;
    }
}