.post-container {
    width: 100%;
    clear: both;
    border: 1px solid #eee;
    position: relative;
    padding: 1.5rem;
}

.game-image {
    width: 320px;
    height: auto;
    display: inline-block;
}

.game-info-container {
    display: inline-block;
    width: 10em;
    height: auto;
    vertical-align: top;
    margin-left: 24px;
}

.score-container, .price-container, .recommendation-container {
    background-color: #aa1a00;
}

.score-container {
    width: 75px;
    height: 75px;
    display: inline-block;
    float: right;
    text-align: center;
}

.price-container {
    width: 120px;
    height: 40px;
    float: right;
    display: inline-block;
    margin: 16px;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
}

.price-text {
    margin-top: 6px;
    font-size: 24px;
}

.recommendation-container {
    width: 200px;
    height: 45px;
    display: inline-block;
    padding: 6px 10px;
}

.game-title {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    font-family: 'Open Sans', 'PT Serif';
    color: #990000;
    width: 10em;
    margin-top: 0;
}

.game-developer {
    display: inline-block;
}

.game-tags {
    margin: 24px 0;
    font-family: 'Open Sans', 'PT Serif';
    width: 90%;
    text-decoration: none;

}

.game-tags ul {
    padding-left: 0;
}

.game-tags li {
    display: inline-block;
    padding: 2px;
    margin-right: 10px;
    margin-top: 6px;
}

a:hover, a:focus {
    text-decoration: none;
}

.score-num, .score-text, .recommendation-text, .price-text {
    color: #fff;
    font-weight: lighter;
    font-family: 'Open Sans', 'PT Serif';
}

.score-text {
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 16px;
}

.score-num{
    margin-top: 0;
    font-size: 24px;
}

.users-recommended {
    font-family: 'Open Sans';
    color: #fff;
    font-weight: lighter;
    margin-top: 3px;
    font-size: 14px;
    margin: 0;
}

.post-container:hover .game-title {
    color: #bb0000;
}

.post-container:hover .score-container, 
.post-container:hover .recommendation-container, 
.post-container:hover .price-container {
    background-color: #bb0000;
}

.gradient-background {
    background: rgba(212,27,7,1);
    background: -moz-linear-gradient(top, rgba(212,27,7,1) 0%, rgba(140,20,7,1) 49%, rgba(216,40,24,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,27,7,1)), color-stop(49%, rgba(140,20,7,1)), color-stop(100%, rgba(216,40,24,1)));
    background: -webkit-linear-gradient(top, rgba(212,27,7,1) 0%, rgba(140,20,7,1) 49%, rgba(216,40,24,1) 100%);
    background: -o-linear-gradient(top, rgba(212,27,7,1) 0%, rgba(140,20,7,1) 49%, rgba(216,40,24,1) 100%);
    background: -ms-linear-gradient(top, rgba(212,27,7,1) 0%, rgba(140,20,7,1) 49%, rgba(216,40,24,1) 100%);
    background: linear-gradient(to bottom, rgba(212,27,7,1) 0%, rgba(140,20,7,1) 49%, rgba(216,40,24,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d41b07', endColorstr='#d82818', GradientType=0 );
}

@media (max-width: 768px) {

    .post-container {
        position: relative;
        bottom: 0;
        padding: 6px;
    }


    .game-info-container {
        margin-left: 0;
    }

    .game-title {
        margin: 0;
    }

    .game-image {
        width: 100%;
        margin: 0 auto;
    }

    .game-tags {
        margin: 0 0 16px;
        width: 100%;
    }

    .score-container {
        width: 4.3em;
        height: 3.8em;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 6px;
    }
    .score-text {
        font-size: 12px;
        margin: 0;
    }
    
    .price-container {
        width: 6em;
        height: 2em;
        float: none;
        margin: 6px 0.6rem;
        right: initial;
        padding: 3px;
    }

    .price-text {
        margin: 0;
        font-size: 1.4em;
    }

    .recommendation-container {
        width: 7.4em;
        margin: 10px 0 0;
        padding: 2px;
    }

    .users-recommended {
        font-size: 0.9em;
        margin: 0;
    }

    .game-tags li {
        margin-right: 5px;
        margin-top: 4px;
    }
}