.recgames-body { 
    margin: 0px;    
    padding: 0px;
}

.steam-id-form-container {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 270px;
}

footer {
    position: fixed;
    border-top: 1px solid #808080;
    width: 1140px;
}

.steam-id-form-help {
    float: left;
    margin-left: 120px;
}