.recgames-body { 
    margin-top: 150px;
}

.steam-id-form-container {
    text-align: center;
    margin-bottom: 270px;
}

footer {
    position: fixed;
    border-top: 1px solid #808080;
    width: 1140px;
}