<head>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700|Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <div ng-controller="playerController" class="app-container">
        <div ng-controller="gameController">
            <a class="form-link" href="https://docs.google.com/forms/d/14ZaO2A2LOPuEOfgHiqEBAB7MQ5ttKSAdJaV_WPDFjh4/viewform">
                Help us improve our system by responding to this form! Thank you!
            </a>

            <div class="row">
                <div class="col-sm-3">
                    <div class="player-container">
                        <img src="{{playerInfo.avatarfull}}" class="player-avatar" />
                        <div class="player-name-container">
                            <h2 class="player-personaname">{{playerInfo.personaname}}</h2>
                            <h3 class="player-realname">{{playerInfo.realname}}</h3>
                        </div>

                        <div class="player-characteristic-container" ng-cloak>
                            <h4 class="player-characteristic-title {{tagsClass}}">{{tagsText}}</h4>
                            <img class="loading-spinner" src="images/spinner.gif" ng-hide="tagsReady" />
                            <ul ng-cloak>
                                <li ng-repeat="characteristic in playerPortrait" class="player-characteristic-tag">
                                    <a href="http://store.steampowered.com/tag/en/{{characteristic}}">
                                        <span class=" tag-icon glyphicon glyphicon-tag" aria-hidden="true"></span>
                                        {{characteristic}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="recent-games-container">
                            <h4 class="recent-text">{{recentGamesText}}</h4>
                            <ul>
                                <li ng-repeat="recentGame in playerRecentlyPlayedGames" class="recent-name">
                                    <a href="http://store.steampowered.com/app/{{recentGame.appid}}">
                                        {{recentGame.name}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="owned-games-container">
                            <h4 class="owned-text">{{ownedGamesText}}</h4>
                            <ul>
                                <li ng-repeat="ownedGame in playerOwnedGames" class="owned-name">
                                    <a href="http://store.steampowered.com/app/{{ownedGame.appid}}">
                                        {{ownedGame.name}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="container">
                        <h4 class="container-title">Recommended Games:</h4>
                        <table class="table">
                            <tbody>
                                <tr ng-hide="recommendReady">
                                    <td>
                                        <h2 class="loading-games">Loading Recommended Game List...</h2>
                                        <img class="loading-spinner" src="images/spinner.gif" />
                                    </td>
                                </tr>
                                <tr ng-repeat="game in gamesToRecommend">
                                    <td>
                                        <div ng-app>
                                            <div ng-include="'post.html'"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
