<div ng-controller="gameController">
    <button ng-click="getRecommendedGames()">Recommend</button>
    <ul>
        <li ng-repeat="game in gamesToRecommend">
            Game: {{game}}
        </li>
    </ul>
</div>
<div ng-controller="playerController">
    <div class="player-info-container">
        <img src="{{playerInfo.avatarfull}}" class="player-avatar" />
        <div class="player-name-container">
            <h2 class="player-personaname">{{playerInfo.personaname}}</h2>
            <h3 class="player-realname">{{playerInfo.realname}}</h3>
        </div>
    </div>
    <ul>
        <li ng-repeat="characteristic in playerPortrait" class="player-characteristic">
            Characteristic: {{characteristic}}
        </li>
    </ul>
    <ul>
        <li ng-repeat="ownedGame in playerOwnedGames">
            Games: {{ownedGame.name}}
        </li>
    </ul>
    <p>Recent Games: {{playerRecentlyPlayedGames}}</p>
</div>
