<div ng-controller="gameController">
    <button ng-click="getRecommendedGames()">Recommend</button>
    <ul>
        <li ng-repeat="game in gamesToRecommend">
            Game: {{game}}
        </li>
    </ul>
</div>
<div ng-controller="playerController">
    <div class="player-info-container">
        <img src="{{playerInfo.avatarfull}}" class="player-avatar" />
        <div class="player-name-container">
            <h2 class="player-personaname">{{playerInfo.personaname}}</h2>
            <h3 class="player-realname">{{playerInfo.realname}}</h3>
        </div>
        <div class="player-characteristic-container">
            <h3 class="player-characteristic-title">Your most common tags:</h3>
            <ul>
                <li ng-repeat="characteristic in playerPortrait" class="player-characteristic-tag">
                    Characteristic: {{characteristic}}
                </li>
            </ul>
        </div>
    </div>
   
     
   
    <ul>
        <li ng-repeat="ownedGame in playerOwnedGames">
            Games: {{ownedGame.name}}
        </li>
    </ul>
    <div class="recent-games-container">
        <h4>Recent Games:</h4>
        <ul>
            <li ng-repeat="recentGame in playerRecentlyPlayedGames">
                <img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{recentGame.appid}}/{{recentGame.img_logo_url}}.jpg" />
                <p>{{recentGame.name}}</p>
            </li>
        </ul>
        
    </div>
    
</div>
