<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div class="post-container shadow">
        <a href="{{game.game_steam_url}}" target="_blank">
            <img src="{{game.header_image}}" class="game-image" />
            <div class="game-info-container">
                <h3 class="game-title">{{game.game_name}}</h3>
                <p class="game-developer help-block">By {{game.developers}}</p>
            </div>
        </a>
        <div class="score-container" ng-if="game.metacritic_score !== 0">
            <h3 class="score-text">Critic Score</h3>
            <h1 class="score-num">{{game.metacritic_score}}</h1>
        </div>
        <div class="score-container" ng-if="game.metacritic_score === 0">
            <h3 class="score-text">No Critic Score</h3>
        </div>
        <div class="game-tags">
            <ul>
                <li ng-repeat="tag in game.common_tags">
                    <span class=" tag-icon glyphicon glyphicon-tag" aria-hidden="true"></span>
                    {{tag}}
                </li>
            </ul>
            <div class="other-tags">
                <button class="other-tags-button tag-button-{{$index}}" ng-click="showTags($index)">Other tags</button>
                <ul class="other-tags-list-{{$index}}" style="display: none;">
                    <li ng-repeat="tag in game.uncommon_tags">
                        <span class=" tag-icon glyphicon glyphicon-tag" aria-hidden="true"></span>
                        {{tag}}
                    </li>
                </ul>
            </div>   
        </div>
        <div class="recommendation-container">
            <h4 class="users-recommended">{{game.recommendations}} users recommended this game</h4>
        </div>
        <div class="price-container">
            <h1 class="price-text">{{game.price_value}}</h1>
        </div>
    </div>
</body>
</html>
